aiohttp==3.6.2
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Django==3.0.4
django-appconf==1.0.4
django-npm==1.0.0
django-telegram-login==0.2.3
idna==2.9
multidict==4.7.5
npm==0.1.1
optional-django==0.1.0
pytz==2019.3
requests==2.23.0
rjsmin==1.1.0
six==1.14.0
sqlparse==0.3.1
telepot==12.7
urllib3==1.25.8
yarl==1.4.2
