{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <meta charset="utf-8">
  <title>Cryptocurrency Pricing Application</title>
</head>
  <body>
  {% block body %}
  <a href="{% url 'mysite:trigger' %}"><img src="https://image.flaticon.com/icons/svg/1156/1156949.svg" width="25" height="25"></a>
  {% verbatim %}
    <div class="container" id="app">
      <h3 class="text-center">Cryptocurrency Pricing</h3>
      <div class="columns medium-4" v-for="(result, index) in results">
        <div class="card">
          <div class="card-section">
              <img :src="result[1]" width="150" height="150">
            <p> {{index}} </p>
          </div>
          <div class="card-divider">
            {{ result[0] }}
          </div>
        </div>
      </div>
    </div>
    {% endverbatim %}
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/mysite/js/update_price.js"></script>
  </body>
{% endblock %}
</html>